.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.floating{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:0px;
  background-color:rgb(29, 102, 84);
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.container{
  display: flex;
  justify-content: space-between!important;
}

/* .floating-grid-btn{
  position:fixed;
  width:60px;
  height:60px;
  top:125px;
  right:40px;
  background-color:white;
  color:blue;
  padding: 5;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
} */


.fa-check:hover, .fa-edit:hover{
  color: rgb(42, 151, 56);
}

.fa-times:hover{
  color: rgb(248, 9, 21);
}


a:hover {
  background-color: cadetblue!important;

}

.nav-item > .nav-link.active  {
  background-color:darkslategrey !important;
}

.nav-link {
  font-family: Comic Sans MS, Comic Sans, cursive;
}

li:hover {
  background-color:cadetblue!important;
}

.list-group-item > a {
  color:black!important;
}

.nav-link > a {
  color:black!important;
}


body {
  background-color: darkslategray!important;
}

li > i {
  display: inline-block;
  float:right;
}

.nav-tabs i {
  display: inline-block;
  float:right;
}

tr {
  color:white
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


}
